/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #ead9b7;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23cf300a' fill-opacity='0.4'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    font-family: Georgia, Times, serif;
    line-height: 1.5;
}
body{
    margin: 0 auto;
    width: 100%;
    font-size: 1.2rem;
    color: #222;
    margin: 0;
    padding: 0;
}
main{
    width: 1280px;
    margin: 0 auto;
}
nav li, li{
    list-style-type: none;
    text-align: center;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}
nav a{
    display: block;
    margin: 1rem auto;
    margin-bottom: 3rem;
    padding: 1rem;
	background-color: #BB3B20;
	color: #222;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 600; 
    border-radius: 35px;
    box-shadow: -3px 3px 6px #222;
}
nav a:hover{
	background-color: #F5C45A;
}
h1{
    text-align: center;
    font-size: 4rem; 
    margin: 1rem 0;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-top: 0.75rem double #e55033;
    border-bottom: 0.75rem double #e55033;
}
footer{
	padding: 1rem;
	background-color: #BB3B20;
	color: #222;
	text-align: center;
	border-top: 9px solid #F5C45A;
    line-height: 1.5;
}
footer p{
    margin: 0 auto;
}
#intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
    border-top: 0.5rem solid #d6782092;;
    border-bottom: 0.5rem solid #d6782092;
}
#intro img{
    float: right;
    width: 700px;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid black;
}
#introtext{
    text-align: center;
    max-width: 300px;
    margin-left: 155px;
    margin-top: 10px;
}
#introtext h2{
    font-size: 3rem;
}
#introtext li{
    font-size: 1.5rem;
    border: 1.25rem solid #F5C45A;
    background-color: #F5C45A;
    color: #222;
    border-radius: 15px 50px 30px;
    box-shadow: -3px 3px 6px #222;
}
#introtext a:hover{
	background-color: #e55033;
}
h3{
    text-align: center;
    font-size: 2.5rem;
    border: rgba(216, 45, 19, 0.514);
    background-color: rgba(216, 45, 19, 0.514);
    border-radius: 30px;
    font-weight: bold;
}
footer p{
    background-color: #BB3B20;
}
p{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    font-size: 1.25rem;
    border: rgba(210, 185, 181, 0.338);
    background-color: rgba(240, 218, 71, 0.338);
    border-radius: 30px;
}
#local img{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
#chef img{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
#contactus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 0.5rem solid #d6782092;;
    border-bottom: 0.5rem solid #d6782092;
}
#contactus img{
    float: right;
    width: 700px;
    height: 400px;
    margin-bottom: 40px;
    margin-top: 40px;
    border: 1px solid black;
}
#contacttext{
    text-align: center;
    margin-left: 20x;
    margin-top: 120px;
}
#contacttext h2{
    font-size: 2rem;
}
#form{
    margin-top: 40px;
    width: 450px;
	margin: 20px auto;
	background-color: #bf2f12ac;
	padding: 20px;
	color: #222;
	border-radius: 8px;
}
input, label, select, textarea{
	display: block;
	width: 100%;
}
label{
	margin: 0 0 4px 16px;
	font-weight: bold;
}
input, select{
    height: 25px;
    width: 100%;
	font-size: 1rem;
	margin-bottom: 24px;
	border-radius: 4px;
	border: 1px inset #c41411;
}
textarea{
    height: 55px;
    width: 100%;
	font-size: 1rem;
	margin-bottom: 24px;
	border-radius: 4px;
	border: 1px inset #c41411;
}
fieldset{
	margin-bottom: 8px;
	border-radius: 4px;
	border-color: #ff0000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2px 0;
}
legend{
	font-weight: bold;
    margin-bottom: 10px;
}
fieldset label{
	margin-left: 0;
}
input[type=submit]{
	background-color: #BB3B20;
	border: none;
	color: #fff;
	font-weight: bold;
	box-shadow: -3px 3px 6px #ff8000;
}
input:invalid, select:invalid, textarea:invalid{
	border: 4px solid #fbd602;
}
input[type=submit]:focus{
	outline: 3px solid #ef6024;
}
